*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(../Images/University.png) ;
    background-repeat: no-repeat;
    background-size: 100% 70%;

}
header nav{
    width: 100%;
    height: 15vh; 
    background: rgba(0,0,0,0.2) ;
    background-size: 100% 10%;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    word-spacing: 130px;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    left: 280px;
    bottom: -50px;
    justify-content: space-around;
}
header div.logo{
    text-align: center;
    color: white;
    position: relative;
    right: 630px;
    bottom: -70px;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
div.logo h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 2px 2px black;
    
}
h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
h4{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    left: -10px;
    bottom: 15px ;
    text-shadow: 2px;
}

section .btnone{
    background: #fff;
    color: #000;
}
section .btntwo{
    background:#ee7606 ;
    color: white;
}
h2.G{
    color: #ee7606;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
    bottom: -70px;
    left: 70px;
}

span{
    position: relative;
    bottom: 25px;
    left: 90px ;
    color: solid black;
}
p{
    position: relative;
    bottom: -465px;
    left: 170px ;
    color: solid black; 
    margin-right: 1300px;
    margin-bottom: 100px;
    padding: 25px;
    border: 2px solid black ;
    
}

p:hover{
    background-color: #ee7606;
    color: white;
    border-color: #ee7606;
    
}
span:hover{
    background-color: #ee7606;
    color: white;
}
p.P{
    position: relative;
    bottom: -250px;
    left: 1200px ;
    color: solid black; 
    margin-right: 1300px;
    margin-bottom: 100px;
    padding: 25px;
    border: 2px solid black ;
}
p.M{
    position: relative;
    bottom: -50px;
    left: 670px ;
    color: solid black; 
    margin-right: 1300px;
    margin-bottom: 100px;
    padding: 25px;
    border: 2px solid black ;
}
p.P:hover{
    background-color: #ee7606;
    color: white;
    border-color: #ee7606;
}
p.M:hover{
    background-color: #ee7606;
    color: white;
    border-color: #ee7606;
}
